# pip install flask_sqlchemy

In [19]:
pip install flask_sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask_sqlalchemy in c:\users\user\appdata\roaming\python\python312\site-packages (3.1.1)
Requirement already satisfied: flask>=2.2.5 in c:\program files\anaconda\1\lib\site-packages (from flask_sqlalchemy) (3.0.3)
Requirement already satisfied: sqlalchemy>=2.0.16 in c:\program files\anaconda\1\lib\site-packages (from flask_sqlalchemy) (2.0.34)
Requirement already satisfied: Werkzeug>=3.0.0 in c:\program files\anaconda\1\lib\site-packages (from flask>=2.2.5->flask_sqlalchemy) (3.0.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\program files\anaconda\1\lib\site-packages (from flask>=2.2.5->flask_sqlalchemy) (3.1.4)
Requirement already satisfied: itsdangerous>=2.1.2 in c:\program files\anaconda\1\lib\site-packages (from flask>=2.2.5->flask_sqlalchemy) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\program files\anaconda\1\lib\site-packages (from flask>=2.2.5->flask_sqlalchemy) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\program files\anaconda\1\lib\site-packages (from flask>=2.2.5->flask_sqlalchemy) (1.6.2)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\program files\anaconda\1\lib\site-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\program files\anaconda\1\lib\site-packages (from sqlalchemy>=2.0.16->flask_sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: colorama in c:\program files\anaconda\1\lib\site-packages (from click>=8.1.3->flask>=2.2.5->flask_sqlalchemy) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\program files\anaconda\1\lib\site-packages (from Jinja2>=3.1.2->flask>=2.2.5->flask_sqlalchemy) (2.1.3)

#pip install pymysql

In [20]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\user\appdata\roaming\python\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

#pip install pandas

In [21]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pandas in c:\program files\anaconda\1\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\program files\anaconda\1\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\program files\anaconda\1\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\program files\anaconda\1\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\program files\anaconda\1\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\program files\anaconda\1\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

# import required library
import pandas as pd
import sys

In [22]:
from sqlalchemy import create_engine
import pandas as pd
import sys

#csv_file = "/tmp/newyork_taxi_cab/taxi_zone_lookup.csv"

In [23]:
import os
print(os.getcwd())

C:\Users\user\Desktop\Datamining\works

In [25]:
df=pd.read_excel("financial_sample.xlsx")
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

#1. EXTRACT

In [ ]:
df = pd.read_excel("financial_sample.xlsx")
print("df=", df)