In [86]:
import pandas as pd
import mysql.connector as my
main_file = pd.read_excel("financial_sample.xlsx")
main_file.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014
2,Midmarket,France,Carretera,NaN,2178.0,3,15,32670.0,0.0,32670.0,21780.0,10890.0,2014-06-01,6,June,2014
3,Midmarket,Germany,Carretera,NaN,888.0,3,15,13320.0,0.0,13320.0,8880.0,4440.0,2014-06-01,6,June,2014
4,Midmarket,Mexico,Carretera,NaN,2470.0,3,15,37050.0,0.0,37050.0,24700.0,12350.0,2014-06-01,6,June,2014

In [87]:
db=my.connect(host="localhost",user="root",password="",database="sales1")

In [88]:
mycursor=db.cursor()

In [89]:
mycursor.execute("""Create Table product_data(product_id INT PRIMARY KEY, product_name VARCHAR(255),category VARCHAR(255))""")

ProgrammingError: 1050 (42S01): Table 'product_data' already exists

In [ ]:
mycursor.execute("""CREATE TABLE customer_data (customer_id INT PRIMARY KEY,customer_Country VARCHAR(255),city VARCHAR(255))""")

In [ ]:
mycursor.execute("""CREATE TABLE date_data (date_id INT PRIMARY KEY,date DATE,month VARCHAR(255),year VARCHAR(255))""")

In [ ]:
mycursor.execute("""
    CREATE TABLE sales_data (
        _id INT PRIMARY KEY,
        product_id INT,
        customer_id INT,
        date_id INT,
        quantity INT,  -- Changed from VARCHAR(255) to INT, 
        price DECIMAL(10,2),  -- Changed from VARCHAR(255) 
        FOREIGN KEY (product_id) REFERENCES product_data(product_id),
        FOREIGN KEY (customer_id) REFERENCES customer_data(customer_id),
        FOREIGN KEY (date_id) REFERENCES date_data(date_id)
    )
""")

In [ ]:
df=pd.read_excel("financial_sample.xlsx")
df

### Rename some columns

In [ ]:
main_file.rename(columns = {"Product":"product_name","Country":"city", "Discount Band":"category", "Units Sold":"price", "Sale Price":"quantity", "Month Name":"month", "Date":"date", "Year":"year", "Segment":"customer_name"}, inplace = True)

In [ ]:
main_file.head()

In [ ]:
sales = pd.read_csv("sales_data.csv")
product = pd.read_csv("product_data.csv")
customer = pd.read_csv("customer_data.csv")
date = pd.read_csv("date_data.csv")

In [ ]:
product = main_file[['product_name', 'category']]
product.to_csv("product_data.csv", index=False)
productnew = pd.read_csv("product_data.csv")
productnew.head()

In [ ]:
customer = main_file[['customer_name','city']]
customer.to_csv("customer_data.csv", index=False)
customernew = pd.read_csv("customer_data.csv")
customernew.head()

In [ ]:
date = main_file[['date','month','year']]
date.to_csv("date_data.csv", index=False)
datenew = pd.read_csv("date_data.csv")
datenew.head()

In [ ]:
sales = main_file[['quantity','price']]
sales.to_csv("sales_data.csv", index=False)
salesnew = pd.read_csv("sales_data.csv")
salesnew.head()

In [ ]:
!pip install mysql-connector-python pandas sqlalchemy

In [ ]:
import mysql.connector as mc
from sqlalchemy import create_engine

In [ ]:
#username = "root"
#password = ""
#host = "localhost"
#database = "sales1"
#db_url = f"mysql+mysqlconnector://{username}:{password}@{host}/{database}"
#engine = create_engine(db_url)

In [ ]:
productnew = pd.DataFrame(productnew)
datenew = pd.DataFrame(datenew)
customernew = pd.DataFrame(customernew)
salesnew = pd.DataFrame(salesnew)

In [ ]:
productnew.to_sql("product_data", con=engine, if_exists="append", index=False)
datenew.to_sql("date_data", con=engine, if_exists="append", index=False)
customernew.to_sql("customer_data", con=engine, if_exists="append", index=False)
salesnew.to_sql("sales_data", con=engine, if_exists="append", index=False)

In [ ]:
print(pd.read_sql('SELECT * FROM product_data LIMIT 10',db_url))

In [ ]:
print(pd.read_sql('SELECT * FROM product_data LIMIT 10',db_url))